- what ever command you want to execute make sure you execute it in "(base) PS B:\ReactNative\kare-bot" path
- my expo sdk is 52 annd node is 20+
-what ever changes you are going to make explain me why you are making it 
- explain my my mistakes and errors and then proceed so that i can learn from my mistakes
- use yarn